@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aspacher Crafts</h1>
    <img src="https://cdn.petmoo.com/wp-content/uploads/2018/08/Box-Turtle-Care.jpg" alt="turtle" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
